[defaults]
inventory=inventory

# Human-readable output provided by the ansible.posix collection
stdout_callback=ansible.posix.debug

# Required for stdout_callback to work when using local callbacks
bin_ansible_callbacks=true

# Enabled callbacks
callbacks_enabled=ansible.posix.profile_tasks

# The first dir is used for Ansible Galaxy and other remote roles, which are
# installed with 'ansible-galaxy install -r requirements.yml'.  This directory
# is ignored by git.
# The second path is used for local roles, whch are version controlled by git.
roles_path=roles/remote:roles/local
retry_files_enabled=false
ansible_managed="This file is automatically managed by Ansible"
deprecation_warnings=false
nocows=1

[privilege_escalation]
become_method=sudo
become_ask_pass=true

# Super handy when a run feels slow
[callback_profile_tasks]
# Per-task timing
task_output_limit=30
