############################################################################
# USER & GITHUB CONFIG
############################################################################

[user]
	name = Leonid Mamchenkov
	email = leonid@mamchenkov.net

[github]
	user = mamchenkov

[init]
	defaultBranch = master

############################################################################
# CORE SETTINGS
############################################################################

[core]
	editor = vim
	excludesfile = ~/.gitignore
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[diff]
	noprefix = true

[diff "image"]
	textconv = identify

############################################################################
# COLOR THEMING
############################################################################

[color]
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green
	changed = yellow
	untracked = red

############################################################################
# MERGE / CONFLICTS
############################################################################

[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool]
	prompt = false

############################################################################
# ALIASES
############################################################################
#
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	info = remote -v
	tags = tag --sort=creatordate
	diffstat = diff --stat
	fullchangelog = log ORIG_HEAD.. --reverse --no-merges
	changelog = log ORIG_HEAD.. --reverse --no-merges --pretty=format:'* %s'
	issues = !"git-issues"
	issues-urls = !"git-issues --format='%url'"
	issues-report = !"git-issues --format='* %title (%iid)'"

###############################################################################
# OPTIONAL ENHANCEMENTS (Uncomment if needed)
###############################################################################

#[commit]
#    gpgsign = true

#[user]
#    signingkey = ABC1234567890

#[credential]
#    helper = store

#[pager]
#    diff = delta
#    log = delta
#    show = delta
#    reflog = delta

#[delta]
#    features = side-by-side line-numbers decorations

